@import "tailwindcss";

@font-face {
    font-family: "Paper Mono";
    src: url("/fonts/PaperMono-Variable.woff2") format("woff2-variations");
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    h1,
    h2,
    h3 {
        font-weight: 600;
    }

    body {
        font-family: "Paper Mono", monospace;
        font-size: 18px;
        font-weight: 500;
        background-color: oklch(94% 0.018 63);
    }
}
